<div class='profile-wrapper'>
	<div class='personal-data-section'>
		<div class='upper-section'>
			<div>
				<h1>{{ requestedUser.name }}</h1>
				<p class='desc'> {{	requestedUser.creation_date }} </p>
				<div class='rating-section'>
					<p>Calificación:</p>
					<fieldset class='rating rating-disabled'>
						<input disabled type='radio' name='profileRating' value='5' {{#ifeq requestedUser.profileRating 5}}checked{{/ifeq}} /><label
							class='full'
							for='star5'
						></label>
						<input disabled type='radio' name='profileRating' value='4.5' {{#ifeq requestedUser.profileRating 4.5}}checked{{/ifeq}} /><label
							class='half'
							for='star4half'
						></label>
						<input disabled type='radio' name='profileRating' value='4' {{#ifeq requestedUser.profileRating 4}}checked{{/ifeq}} /><label
							class='full'
							for='star4'
						></label>
						<input disabled type='radio' name='profileRating' value='3.5' {{#ifeq requestedUser.profileRating 3.5}}checked{{/ifeq}}/><label
							class='half'
							for='star3half'
						></label>
						<input disabled type='radio' name='profileRating' value='3' {{#ifeq requestedUser.profileRating 3}}checked{{/ifeq}} /><label
							class='full'
							for='star3'
						></label>
						<input disabled type='radio' name='profileRating' value='2.5' {{#ifeq requestedUser.profileRating 2.5}}checked{{/ifeq}}/><label
							class='half'
							for='star2half'
						></label>
						<input disabled type='radio' name='profileRating' value='2' {{#ifeq requestedUser.profileRating 2}}checked{{/ifeq}} /><label
							class='full'
							for='star2'
						></label>
						<input disabled type='radio' name='profileRating' value='1.5' {{#ifeq requestedUser.profileRating 1.5}}checked{{/ifeq}} /><label
							class='half'
							for='star1half'
						></label>
						<input disabled type='radio' name='profileRating' value='1' {{#ifeq requestedUser.profileRating 1}}checked{{/ifeq}}/><label
							class='full'
							for='star1'
						></label>
						<input disabled type='radio' name='profileRating' value='0.5' {{#ifeq requestedUser.profileRating 0.5}}checked{{/ifeq}}/><label
							class='half'
							for='starhalf'
						></label>
					</fieldset>
				</div>
				{{#if isOwner}}
					<a class='edit-profile profile-button'>
						<i class='fa-solid fa-pen-to-square'></i>
						<p>Editar Perfil</p>
					</a>
				{{else}}
					<a class='report-button profile-button'>
						<i class='fa-solid fa-circle-exclamation'></i>
						<p>Reportar Usuario</p>
					</a>
				{{/if}}
			</div>
			<div>
				<img class='big-profile-picture' src='/img/{{ requestedUser.profile_image_route }}' alt='' />
			</div>
		</div>
	</div>
	<hr />
	<div class='reviews-section'>
		{{#if reviews}}
			{{#each reviews}}
				<div class='review'>
					<div class='review-upper-section'>
						<img src='/img/{{ this.reviewer_profile_image_route }}' alt='profile-picture-another-user' />
						<div class='name-product-holder'>
							<p class='review-name'>{{ this.reviewerName }}</p>
							<p class='review-product'>{{ this.product }}</p>
						</div>
					</div>
					<div class='review-content-holder'>
						<p>{{this.content}}</p>
					</div>
					<div class="review-footer">
						<p>{{this.date}}</p>
						<fieldset class='rating rating-disabled'>
							<input disabled type='radio' name={{this.id}} value='5' {{#ifeq this.rating 5}}checked{{/ifeq}} /><label
								class='full'
								for='star5'
							></label>
							<input disabled type='radio' name={{this.id}} value='4.5' {{#ifeq this.rating 4.5}}checked{{/ifeq}} /><label
								class='half'
								for='star4half'
							></label>
							<input disabled type='radio' name={{this.id}} value='4' {{#ifeq this.rating 4}}checked{{/ifeq}} /><label
								class='full'
								for='star4'
							></label>
							<input disabled type='radio' name={{this.id}} value='3.5' {{#ifeq this.rating 3.5}}checked{{/ifeq}} /><label
								class='half'
								for='star3half'
							></label>
							<input disabled type='radio' name={{this.id}} value='3' {{#ifeq this.rating 3}}checked{{/ifeq}} /><label
								class='full'
								for='star3'
							></label>
							<input disabled type='radio' name={{this.id}} value='2.5' {{#ifeq this.rating 2.5}}checked{{/ifeq}} /><label
								class='half'
								for='star2half'
							></label>
							<input disabled type='radio' name={{this.id}} value='2' {{#ifeq this.rating 2}}checked{{/ifeq}} /><label
								class='full'
								for='star2'
							></label>
							<input disabled type='radio' name={{this.id}} value='1.5' {{#ifeq this.rating 1.5}}checked{{/ifeq}} /><label
								class='half'
								for='star1half'
							></label>
							<input disabled type='radio' name={{this.id}} value='1' {{#ifeq this.rating 1}}checked{{/ifeq}}/><label
								class='full'
								for='star1'
							></label>
							<input disabled type='radio' name={{this.id}} value='0.5' {{#ifeq this.rating 0.5}}checked{{/ifeq}} /><label
								class='half'
								for='starhalf'

							></label>
						</fieldset>
					</div>
				</div>
			{{/each}}
		{{else}}
		{{/if}}
	</div>
</div>