<div class="offer-wrapper">
    <div class="offer-container">
        <div class="offer-first-half">
            <div class="offer-description">
                <h1>{{product.name}}</h1>
                <div class="offer-description-details">
                    <div class="producto-input-container-two">
                        <p>Precio:</p>
                        <div class="offer-info-white-background">
                            <p>{{product.total}}USD$</p>
                        </div>
                    </div>
                    <div class="producto-input-container-two">
                        <p>Desde:</p>
                        <div class="offer-info-white-background">
                            <p>{{product.from_place}} -<br>{{product.to_place}}</p>
                        </div>
                    </div>
                    <div class="producto-input-container-two">
                        <p>Detalle:</p>
                        <div class="offer-info-white-background" style="padding: 10px;">
                            <p>{{product.details}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-image">
                <img src="/img/ThisGoesOnEveryOfferDetail.svg" alt="">
            </div>
        </div>
        <div class="offer-second-half">
            <div class="offer-listado-container">
                <h1>Listado de Ofertas</h1>
                <div class="offer-listado">
                    <div class="my-data-offers-header">
                        <div class="my-data-offers-header-close disabled" onclick="CloseOfertar()">
                            
                        </div>
                    </div>
                    {{#if owner}}
                        {{#if offers}}
                            <div class="my-data-offers">
                                <div class="my-data-offers-scroll-container">
                                    {{#each offers}}
                                        <div class="my-data-offers-offer">
                                            <div>
                                                <img class="my-data-small-img" src='/img/profile-pictures/{{id_usuario}}.jpg' alt="">
                                                <h2>Santino B.</h1>
                                            </div>
                                            <div>
                                                <h3>{{total}}USD$</h3>
                                                <div class="my-data-offers-offer-buttons">
                                                    <a href="/" class="my-data-offers-green-button"></a>
                                                    <a href="/deleteOffer/{{id}}" class="my-data-offers-red-button"></a>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{else}}
                            <div class="my-no-data-background">
                                <img src="/img/undraw_no_data_re_kwbl.svg" alt="">
                                <p>¡Parece que no hay ofertas!</p>
                            </div>
                        {{/if}}
                    {{else}}
                        {{#if offers}}
                            <div class="my-data-offers">
                                <div class="my-data-offers-scroll-container">
                                    {{#each offers}}
                                        <div class="my-data-offers-offer">
                                            <div>
                                                <img class="my-data-small-img" src='/img/profile-pictures/{{id_usuario}}.jpg' alt="">
                                                <h2>{{username}}.</h1>
                                            </div>
                                            <div>
                                                <h3>{{total}}USD$</h3>
                                            </div>
                                        </div>
                                    {{/each}}
                                    <div class="my-data-offers-add-offer"> 
                                        <h2 id="ofertar2" onclick="OpenOfertar(this)"><i class="fa-solid fa-plus"></i>  OFERTAR</h1>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <div class="my-no-data-background">
                                <img src="/img/undraw_adventure_map_hnin.svg" alt="">
                                <p>¡Parece que no hay ofertas!</p>
                                <a id="ofertar1" onclick="OpenOfertar(this)" class="be-the-first">¡Se el primero!</a>
                            </div>
                        {{/if}}
                    {{/if}}

                    {{!-- ?? DIV EXTRA DE OFERTAR --}}
                    <div class="my-data-offers-form disabled" id="ofertar-offers">
                        <form class="my-data-offers-form-half" method="post" action="/productoenoferta/{{product.id}}/ofertar">
                            <div class="my-data-offers-form-input">
                                <h2>Comisión:</h2>
                                <input class="lol" type="number" name="comision">
                            </div>
                            <input class="my-data-form-submit" type="submit" value="OFERTAR">
                        </form>
                        <div class="my-data-offers-form-img">
                            <img src="/img/undraw_accept_request_re_d81h.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/ofertar.js"></script>