<div class='comprar-detalles-container'>
	<div class='comprar-detalles-wrapper'>
		<form action='/comprar-confirmar' method="post">
			<h1>Resumen de tu Pedido</h1>
			<h2>{{product.name}}</h2>
			<div class="comprar-confirmar-separado">
				<p>Entregar Desde:</p>
				<p>{{product.from}}</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Entregar Hacia:</p>
				<p>{{product.to}}</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Cantidad:</p>
				<p>{{product.amount}}</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>En Caja:</p>
				<p>{{product.box}}</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Link de Compra:</p>
				<p><a href='{{product.link}}'>Link</a></p>
			</div>
			<h2 class="comprar-confirmar-h2">Detalles del Producto</h2>
			<textarea disabled class="comprar-confirmar-textarea">{{product.details}}</textarea>
			<h2 class="comprar-confirmar-h2">Precio de su Compra</h2>
			<div class="comprar-confirmar-separado">
				<p>Precio:</p>
				<p>{{product.price}} USD$</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Recompensa del Viajero:</p>
				<p>{{product.viajero}} USD$</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p>Tasa de Servicio:</p>
				<p>{{product.service}} USD$</p>
			</div>
			<div class="comprar-confirmar-separado">
				<p><b>Precio Total:</b></p>
				<p><b>{{product.total}} USD$</b></p>
			</div>
			<input class='compras-input-submit' type='submit' value='Postular Pedido' />
		</form>
	</div>
</div>