<html lang='es'>

	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='icon' type='image/x-icon' href='/img/Logo.svg' />
		<title>SHIPMATE</title>

		{{! Styles }}
		<link rel='stylesheet' href='/styles/main.css' />
		<link rel='stylesheet' href='/styles/profile.css' />
		<link rel='stylesheet' href='/styles/chats.css' />
		<link rel='stylesheet' href='/styles/viajar.css' />
		<link rel='stylesheet' href='/styles/comprar.css' />
		<link rel='stylesheet' href='/styles/partials.css' />
		<link rel='stylesheet' href='/styles/tripsandproducts.css' />
		<link rel='stylesheet' href='/styles/offers.css' />

		<script src='https://kit.fontawesome.com/2040522002.js' crossorigin='anonymous'></script>
	</head>

	<body>
		{{#if user}}
			<nav>
				<div class='logo-section'>
					<img src='/img/Logo.svg' alt='logo' />
					<a href='/' class='title'>SHIPMATE</a>
				</div>
				<div>
					<div class='sec-center'>
						<input class='dropdown' type='checkbox' id='dropdown' name='dropdown' />
						<label class='for-dropdown' for='dropdown'>{{user.name}}
							<img class='profile-picture' src='/img/{{user.profile_image_route}}' alt='' />
							<img class='dropdown-arrow' src='/img/caret-right-solid.svg' alt='' />
							<i class='uil uil-arrow-down'></i></label>
						<div class='section-dropdown'>
							<a href='/profile/{{user.id}}'>Mi Perfil<img src='/img/user-solid.svg' alt='' /></a>
							<a href='/chats/{{user.id}}'>Mis chats<img src='/img/message-solid.svg' alt='' /></a>
							<a href="/mytripsandproducts">Mis Viajes y Productos <img src="/img/clipboard-solid.svg" alt=""></a>
							<a href="/allPedidos">Explorar <br> Pedidos <img src="/img/magnifying-glass-solid.svg" alt=""></a>
							<a href='/comprar'>Comprar<img src='/img/cart-shopping-solid.svg' alt='' /></a>
							<a href='/viajar'>Viajar<img src='/img/plane-solid.svg' alt='' /></a>
							<hr>
							<a href="/export-excell-file">Exportar Informe<img src='/img/file-excel-solid.svg' alt='' /></a> 
							<a href='/logOut'>Cerrar Sesión <img src='/img/x-solid.svg' alt='' /></a>
						</div>
					</div>
				</div>
			</nav>
		{{else}}
			<nav>
				<div class='logo-section'>
					<img src='/img/Logo.svg' alt='logo' />
					<a href='/' class='title'>SHIPMATE</a>
				</div>
				<div class='login-register-container'>
					<a href='/signin' class='button-a'>Iniciar</a>
					<a href='/signup' class='button-a'>Registrarse</a>
				</div>
			</nav>
		{{/if}}
		<main>
			<div class='container'>
				{{#if error_msg}}
					{{> error }}
				{{/if}}
				{{#if success_msg}}
					{{> success }}
				{{/if}}
				
				{{{body}}}
			</div>
		</main>
		<script src='/js/toogleRadioLabels.js'></script>
	</body>

</html>